body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 375px;
  min-height: 100vh;
  background-color: #AAA;
  color: #282823;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 0;
}

h1 {
  font-size: 36px;
  color: #282823;
  margin: 0;
  padding: 0;
}

#symbol {
  font-weight: 300;
  color: #FFF;
  margin: 0 3px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #FFF;
  margin: 0 0 25px 0;
}

h3, .output p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
}

hr {
  width: 80%;
  border-color: #fff;
}

h1, h2 {
  text-align: center;
}

h1, h2, h3, label, p {
  text-transform: uppercase;
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
}

.inputBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 50%;
  border: none;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.card {
  background-color: #FFF;
  opacity: 0.75;
  border-radius: 15px;
  margin: 10px 0;
  padding: 15px 30px;
}

.output {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
}

.output p {
  margin: 0 20px;
  font-size: 26px;
}

.inputBox, input {
  font-size: 26px;
}

#people, label, .output {
  color: #282823;
}

footer {
  text-align: center;
  font-size: 8pt;
}